<div class="container">
  <h3>My deleted Todos</h3>
  <div class="row">
    <h1>My Todos</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Created Date</th>
          <th scope="col">Deleted Date</th>
          <th scope="col">Completed</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos">
          <th [class.stroke]="todo.isComleted"><em>{{todo.description}}</em></th>
          <td>{{todo.createdDate | date: 'dd.MM.yyyy hh:mm a'}}</td>
          <td>{{todo.deletedDate | date: 'dd.MM.yyyy hh:mm a'}}</td>
          <td>{{todo.isCompleted}}</td>
          <td><a [routerLink]="[]">Undo</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
